<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.wms.warehouse.mapper.CancelAllocStockOrderMapper">


    <update id="updateOrderStatusById">
        update out_order set order_status = #{orderStatus} where id = #{orderId};
    </update>


    <select id="queryTotalStock" resultType="com.apl.wms.warehouse.bo.StocksBo">
        select
            concat(wh_id, '_', commodity_id) as commodityKey,
            id,
            wh_id,
            commodity_id,
            available_count,
            reality_count
        from
            stocks
        where
            1=1
        <if test="whId > 0">
        and  wh_id = #{whId}
        </if>
        and commodity_id in (${ids})
        <if test="maxKey > 0 and minKey > 0">
        and commodity_id between #{minKey} and #{maxKey}
        </if>
    </select>


    <select id="queryStorageLocalStock" resultType="com.apl.wms.warehouse.po.StorageLocalStocksPo">

        select
            id,
            commodity_id,
            storage_local_id,
            available_count,
            freeze_count
        from
            storage_local_stocks
         where
            commodity_id in (${ids})
            <if test="maxKey > 0 and minKey > 0">
            and commodity_id between #{minKey} and #{maxKey}
            </if>
    </select>
</mapper>