<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.wms.warehouse.mapper.ShelvesSpecMapper">



    <!-- 查找详情 2019-12-19-->
    <select id="getById" resultType="com.apl.wms.warehouse.vo.ShelvesSpecInfoVo">
        SELECT
          id, 
          spec_no, 
          single_layers_length, 
          single_layers_width, 
          single_layers_height, 
          layers_count, 
          single_layer_support_weight, 
          remark,
          img_url
        FROM
          shelves_spec
        where
          id = #{id}
    </select>

    <!-- 查找列表 2019-12-19-->
    <select id="getList" resultType="com.apl.wms.warehouse.vo.ShelvesSpecListVo">
        SELECT
           id, 
           spec_no, 
           single_layers_length, 
           single_layers_width, 
           single_layers_height, 
           layers_count, 
           single_layer_support_weight, 
           remark,
           img_url
        FROM
           shelves_spec
        where
        1 = 1
        <if test="kd.keyword != null">
            and (spec_no like concat('%', #{kd.keyword}, '%')
            or remark like concat('%', #{kd.keyword}, '%'))
        </if>
        order by spec_no
    </select>

    <!-- 检查记录是否重复 -->
    <select id="exists" resultType="com.apl.wms.warehouse.vo.ShelvesSpecInfoVo">
        SELECT
           id,
           spec_no
        FROM
           shelves_spec
        WHERE
           spec_no = #{specNo}
        <if test="id != null and id>0">
            AND id !=  #{id}
        </if>
    </select>

</mapper>
