<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.wms.warehouse.mapper.WhZoneMapper">


    <!-- 查找详情 2019-12-16-->
    <select id="getById" resultType="com.apl.wms.warehouse.vo.WhZoneInfoVo">
        SELECT
          id, 
          wh_id, 
          zone_code, 
          zone_name, 
          zone_name_en, 
          zone_type, 
          inner_org_id
        FROM
          wh_zone
        where
          id = #{id}
    </select>

    <!-- 查找列表 2019-12-16-->
    <select id="getList" resultType="com.apl.wms.warehouse.vo.WhZoneListVo">
        SELECT
        id,
        wh_id,
        zone_code,
        zone_name,
        zone_name_en,
        zone_type,
        inner_org_id
        FROM
        wh_zone
        where
        wh_id = #{kd.whId}
        <if test="kd.zoneType != null and kd.zoneType != '' and kd.zoneType>=1">
            AND zone_type = #{kd.zoneType}
        </if>
        <if test="kd.keyword != null and kd.keyword != ''">
            AND (locate(#{kd.keyword}, zone_name)>0 or locate(#{kd.keyword}, zone_name_en)>0)
        </if>
        order by zone_code
    </select>

    <!-- 检查记录是否重复 -->
    <select id="exists" resultType="com.apl.wms.warehouse.vo.WhZoneInfoVo">
        SELECT
        id,
        wh_id,
        zone_code,
        zone_name,
        zone_name_en
        FROM
        wh_zone
        WHERE
        wh_id = #{whId} and (zone_code = #{zoneCode} or zone_name = #{zoneName} or zone_name_en = #{zoneNameEn})
        <if test="id != null and id>0">
            AND id != #{id}
        </if>
    </select>

</mapper>
